* {
    padding: 0;
    margin: 0;
    color: #086972;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  body {
      min-height: 100%;
      background-color: #ffffff;
  }
  h1, h3 {
      letter-spacing: -1px;
      color: #086972;
  }
  a {
    color: #5469d4;
    text-decoration: unset;
  }
  .flex-flex {
      display: flex;
  }
  .center-center { /* Etiqueta Contact */
    align-items: center;
    justify-content: center;
  }
  .card-img-top {  
    width: 160px;
    margin: auto;
    display: flex;
    margin-bottom: 15px;
  }
  ul {
    list-style-type: none;
    padding-left: 0;
  }
  .card-parent {
    display: flex;
    justify-content: space-between
  }
  .flex-direction--column {
      -ms-flex-direction: column;
      flex-direction: column;
  }
  .padding-top--64 {
    padding-top: 64px;
  }
  .padding-top--24 {
    padding-top: 24px;
  }
  .padding-top--48 {
    padding-top: 48px;
  }
  .padding-bottom--24 {
    padding-bottom: 24px;
  }
  .padding-horizontal--48 {
    padding: 48px;
  }
  .padding-bottom--15 {
    padding-bottom: 15px;
  }
  .flex-justifyContent--center {
    -ms-flex-pack: center;
    justify-content: center;
  }
  .cards-admin {
    box-shadow: rgba(48, 65, 128, 0.12) 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
    background: white;
    border-radius: 4px;
  }
  .formbg, .card-parent-details {
      margin: 0px auto;
      width: 100%;
      max-width: 900px;
      background: white;
      border-radius: 4px;
      box-shadow: rgba(48, 65, 128, 0.12) 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
  }
  span {
      display: block;
      font-size: 20px;
      padding-bottom: 10px;
  }
  label {
      margin-bottom: 10px;
  }
  label {
      font-size: 14px;
      font-weight: 600;
      display: block;
  }
  .form-select {
    font-size: 16px;
    min-height: 44px;
}
  .field input {
      font-size: 16px;
      margin-bottom: 15px;
      padding: 8px 16px;
      width: 100%;
      min-height: 44px;
      border: unset;
      border-radius: 4px;
      box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                  rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                  rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                  rgba(60, 66, 87, 0.16) 0px 0px 0px 1px, 
                  rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                  rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                  rgba(0, 0, 0, 0) 0px 0px 0px 0px;
  }
  input[type="submit"], button {
      background-color: #0fc1d1;
      box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                  rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                  rgba(0, 0, 0, 0.12) 0px 1px 1px 0px, 
                  rgb(84, 105, 212) 0px 0px 0px 1px, 
                  rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                  rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                  rgba(60, 66, 87, 0.08) 0px 2px 5px 0px;
      color: black;
      font-weight: 600;
      cursor: pointer;
  }

  .field-checkbox input {
      width: 20px;
      height: 15px;
      margin-right: 5px; 
      box-shadow: unset;
      min-height: unset;
  }
  .field-checkbox label {
      display: flex;
      align-items: center;
      margin: 0;
  }
  .list-group-item {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    height: 180px;
  }
  
/* ------------------------------------------------------------------- */

@import "https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.card-admin {
  position: relative;
  min-width: 320px;
  border-radius: 15px;
  margin: 30px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  padding: 20px 0;
  flex-wrap: wrap;
  
  .card {
    position: relative;
    min-width: 320px;
    width: inherit;
    max-width: 700px;
    min-height: 190px;
    max-height: 400px;
    box-shadow:inset 5px 5px 5px rgba(0, 0, 0, 0.05),
     inset -5px -5px 5px rgba(255, 255, 255, 0.5), 5px 5px 5px rgba(0, 0, 0, 0.05),
      -5px -5px 5px rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    margin: 15px;
    .box {
      position: absolute;
      top: 10px;
      left: 10px;
      right: 10px;
      bottom: 10px;
      background: #ebf5fc;
      border-radius: 15px;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
      overflow: hidden;
      padding: 15px;
      justify-content: center;
      }
    }
    &:hover{
        .box{
            transform: translateY(-50px);
            transition: 0.5S;
            box-shadow: 0 20px 40px rgba(0,0,0,0.4);
            background: linear-gradient(45deg,#b95ce4,#e91e63);
        	background: linear-gradient(45deg,#b95ce4,#4f29cd);
            .content{
                h2 {
                    color: rgba(0,0,0,0.05);
                }
                h3 {
                    color: rgba(255,255,255,1);
                }
                p {
                    color: rgba(255,255,255,1);
                }
                a {
                    background: #ff568f;
                }

            }
        }
      }
}